# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.cpp text
*.hpp text
*.h text
*.c text
*.aeg text

# Documentation
*.md text
*.txt text

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Windows scripts
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Serialization
*.json text
*.toml text
*.yaml text
*.yml text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Archives
*.zip binary
*.tar binary
*.gz binary
*.7z binary

# Compiled
*.o binary
*.a binary
*.so binary
*.dll binary
*.exe binary

# LLVM
*.ll text
*.bc binary
